@model AsTiKa.Models.Rokotuslista

@{
    ViewBag.Title = "Kaikki tiedot";
}

<h2>Tiedot</h2>

<div>
    <h4>Rokotuslista</h4>
    <hr />
    <dl class="form-group-lg">
        <dt>
            @Html.DisplayNameFor(model => model.Asiakkaan_nimi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Asiakkaan_nimi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Anto_päivämäärä)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Anto_päivämäärä)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tehosterokotuksen_antopäivä)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tehosterokotuksen_antopäivä)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Mahdolliset_sivuoireet_rokotuksista)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Mahdolliset_sivuoireet_rokotuksista)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Muokkaa", "Edit", new { id = Model.Rokotteen_nimi }) |
    @Html.ActionLink("Takaisin listaan", "Index")
</p>
