@model AsTiKa.Models.Hemodynamiikka

@{
    ViewBag.Title = "Kaikki tiedot";
}

<h2>Tiedot</h2>

<div>
    <h4>Hemodynamiikka</h4>
    <hr />
    <dl class="form-group-lg">
        <dt>
            @Html.DisplayNameFor(model => model.Asiakkaan_nimi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Asiakkaan_nimi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Paino)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Paino)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Lämmön_seuranta)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Lämmön_seuranta)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nestelista)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nestelista)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Vatsantoiminta)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Vatsantoiminta)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EKG)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EKG)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Verensokeri)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Verensokeri)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Muokkaa", "Edit", new { id = Model.Verenpaine }) |
    @Html.ActionLink("Takaisin listaan", "Index")
</p>
