@model AsTiKa.Models.Asiakkaan_henkilötiedot

@{
    ViewBag.Title = "Poista";
}

<h2>Poista</h2>

<h3>Oletko varma, että haluat poistaa tämän?</h3>
<div>
    <h4>Asiakkaan_henkilötiedot</h4>
    <hr />
    <dl class="form-group-lg">
        <dt>
            @Html.DisplayNameFor(model => model.Asiakkaan_nimi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Asiakkaan_nimi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Asiakkaan_lähiomaiset)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Asiakkaan_lähiomaiset)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Laskutustiedot)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Laskutustiedot)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Yleinen_edunvalvoja)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Yleinen_edunvalvoja)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Muuttotiedot)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Muuttotiedot)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Muut_tiedot)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Muut_tiedot)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Poista" class="btn btn-default" /> |
            @Html.ActionLink("Takaisin listaan", "Index")
        </div>
    }
</div>
