@model AsTiKa.Models.Lääkärin_lausunnot_ja_hoitosuunnitelmat

@{
    ViewBag.Title = "Poista";
}

<h2>Poista</h2>

<h3>Haluatko varmsti poistaa tämän?</h3>
<div>
    <h4>Lääkärin_lausunnot_ja_hoitosuunnitelmat</h4>
    <hr />
    <dl class="form-group-lg">
        <dt>
            @Html.DisplayNameFor(model => model.Asiakkaan_nimi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Asiakkaan_nimi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Neurologian_lausunnot_ja_hoitosuunnitelmat)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Neurologian_lausunnot_ja_hoitosuunnitelmat)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Yleislääketied_lausunnot_ja_hoitosuunnitelmat)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Yleislääketied_lausunnot_ja_hoitosuunnitelmat)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Poista" class="btn btn-default" /> |
            @Html.ActionLink("Takaisin listaan", "Index")
        </div>
    }
</div>
