@model IEnumerable<AsTiKa.Models.Lääkärin_lausunnot_ja_hoitosuunnitelmat>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Luo uusi", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Asiakkaan_nimi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Neurologian_lausunnot_ja_hoitosuunnitelmat)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Yleislääketied_lausunnot_ja_hoitosuunnitelmat)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Asiakkaan_nimi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Neurologian_lausunnot_ja_hoitosuunnitelmat)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Yleislääketied_lausunnot_ja_hoitosuunnitelmat)
        </td>
        <td>
            @Html.ActionLink("Muokkaa", "Edit", new { id=item.Psykiatrian_lausunnot_ja_hoitosuunnitelmat }) |
            @Html.ActionLink("Kaikki tiedot", "Details", new { id=item.Psykiatrian_lausunnot_ja_hoitosuunnitelmat }) |
            @Html.ActionLink("Poista", "Delete", new { id=item.Psykiatrian_lausunnot_ja_hoitosuunnitelmat })
        </td>
    </tr>
}

</table>
