@model AsTiKa.Models.Muistihoitajan_sivu

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Muistihoitajan_sivu</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Asiakkaan_nimi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Asiakkaan_nimi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tehtyjen_testien_tulokset)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tehtyjen_testien_tulokset)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Käyntikirjaukset_ja_havainnot }) |
    @Html.ActionLink("Back to List", "Index")
</p>
