@model IEnumerable<AsTiKa.Models.Infektion_seuranta_ja_hoito>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Asiakkaan_nimi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Milloin_infektio_todettu)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Oireet)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Hoito)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Mahdolliset_kontrollit)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Asiakkaan_nimi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Milloin_infektio_todettu)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Oireet)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Hoito)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Mahdolliset_kontrollit)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Infektion_tyyppi }) |
            @Html.ActionLink("Details", "Details", new { id=item.Infektion_tyyppi }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Infektion_tyyppi })
        </td>
    </tr>
}

</table>
