@model AsTiKa.Models.Asiakkaan_hoitotiedot

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Asiakkaan_hoitotiedot</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Asiakkaan_nimi, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-lg-offset-3">
                @Html.EditorFor(model => model.Asiakkaan_nimi, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Asiakkaan_nimi, "", new { @class = "text-danger" })
            </div>
        </div>

        @Html.HiddenFor(model => model.Asukkaan_perustiedot)

        <div class="form-group">
            @Html.LabelFor(model => model.Edunvalvojan_yhteystiedot, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-lg-offset-3">
                @Html.EditorFor(model => model.Edunvalvojan_yhteystiedot, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Edunvalvojan_yhteystiedot, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Omahoitajan_yhteystiedot, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-lg-offset-3">
                @Html.EditorFor(model => model.Omahoitajan_yhteystiedot, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Omahoitajan_yhteystiedot, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Hoitavan_lääkärin_yhteystiedot, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-lg-offset-3">
                @Html.EditorFor(model => model.Hoitavan_lääkärin_yhteystiedot, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Hoitavan_lääkärin_yhteystiedot, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Omaisten_yhteystiedot, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-lg-offset-3">
                @Html.EditorFor(model => model.Omaisten_yhteystiedot, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Omaisten_yhteystiedot, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Diagnoosit, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-lg-offset-3">
                @Html.EditorFor(model => model.Diagnoosit, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Diagnoosit, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Allergiat, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-lg-offset-3">
                @Html.EditorFor(model => model.Allergiat, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Allergiat, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Kontrolloitavat_laboratoriokokeet, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-lg-offset-3">
                @Html.EditorFor(model => model.Kontrolloitavat_laboratoriokokeet, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Kontrolloitavat_laboratoriokokeet, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Sovitut_ja_suunnitellut_kontrollikäynnit, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-lg-offset-3">
                @Html.EditorFor(model => model.Sovitut_ja_suunnitellut_kontrollikäynnit, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Sovitut_ja_suunnitellut_kontrollikäynnit, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Syöminen_erityisruokavalio, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-lg-offset-3">
                @Html.EditorFor(model => model.Syöminen_erityisruokavalio, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Syöminen_erityisruokavalio, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Liikkuminen__hygienia, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-lg-offset-3">
                @Html.EditorFor(model => model.Liikkuminen__hygienia, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Liikkuminen__hygienia, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Ihon_kunto, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-lg-offset-3">
                @Html.EditorFor(model => model.Ihon_kunto, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Ihon_kunto, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Erityishoidot, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-lg-offset-3">
                @Html.EditorFor(model => model.Erityishoidot, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Erityishoidot, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Kommunikointi, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-lg-offset-3">
                @Html.EditorFor(model => model.Kommunikointi, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Kommunikointi, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Psyykkinen_vointi, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-lg-offset-3">
                @Html.EditorFor(model => model.Psyykkinen_vointi, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Psyykkinen_vointi, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Hoitoon_hakeutumisen_syy, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-lg-offset-3">
                @Html.EditorFor(model => model.Hoitoon_hakeutumisen_syy, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Hoitoon_hakeutumisen_syy, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-3 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
