@model AsTiKa.Models.Vointi_päiväkirja

@{
    ViewBag.Title = "Luo uusi";
}

<h2>Luo</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Vointi_päiväkirja</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Asiakkaan_nimi, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-lg-offset-3">
                @Html.EditorFor(model => model.Asiakkaan_nimi, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Asiakkaan_nimi, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Hoidon_tarpeen_kirjaaminen, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-lg-offset-3">
                @Html.EditorFor(model => model.Hoidon_tarpeen_kirjaaminen, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Hoidon_tarpeen_kirjaaminen, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Hoidon_tavoitteiden_kirjaaminen, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-lg-offset-3">
                @Html.EditorFor(model => model.Hoidon_tavoitteiden_kirjaaminen, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Hoidon_tavoitteiden_kirjaaminen, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Hoidon_suunnittelun_kirjaaminen, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-lg-offset-3">
                @Html.EditorFor(model => model.Hoidon_suunnittelun_kirjaaminen, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Hoidon_suunnittelun_kirjaaminen, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Hoidon_toteutuksen_kirjaaminen, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-lg-offset-3">
                @Html.EditorFor(model => model.Hoidon_toteutuksen_kirjaaminen, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Hoidon_toteutuksen_kirjaaminen, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-lg-offset-3 col-md-10">
                <input type="submit" value="Luo" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Takaisin listaan", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
