@model AsTiKa.Models.Asiakkaan_omaisuu

@{
    ViewBag.Title = "Poista";
}

<h2>Poista</h2>

<h3>Haluatko varmasti poistaa tämän?</h3>
<div>
    <h4>Asiakkaan_omaisuus</h4>
    <hr />
    <dl class="form-group-lg">
        <dt>
            @Html.DisplayNameFor(model => model.Asiakkaan_nimi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Asiakkaan_nimi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Henkilökohtaiset_tavarat)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Henkilökohtaiset_tavarat)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Huonekalut)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Huonekalut)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tekstiilit)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tekstiilit)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Poista" class="btn btn-default" /> |
            @Html.ActionLink("Takaisin listaan", "Index")
        </div>
    }
</div>
