@model IEnumerable<AsTiKa.Models.Vuokrasopimu>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Luo uusi", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Asiakkaan_nimi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Huoneiston_numero)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Sopijapuolen_tiedot)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Asiakkaan_nimi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Huoneiston_numero)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Sopijapuolen_tiedot)
        </td>
        <td>
            @Html.ActionLink("Muokkaa", "Edit", new { id=item.Vuokramäärä }) |
            @Html.ActionLink("Kaikki tiedot", "Details", new { id=item.Vuokramäärä }) |
            @Html.ActionLink("Poista", "Delete", new { id=item.Vuokramäärä })
        </td>
    </tr>
}

</table>
