@model AsTiKa.Models.Fysioterapian_kirjaukset

@{
    ViewBag.Title = "Kaikki tiedot";
}

<h2>Tiedot</h2>

<div>
    <h4>Fysioterapian_kirjaukset</h4>
    <hr />
    <dl class="form-group-lg">
        <dt>
            @Html.DisplayNameFor(model => model.Asiakkaan_nimi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Asiakkaan_nimi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ohjeet_toiminnan_ylläpitämiseksi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ohjeet_toiminnan_ylläpitämiseksi)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Muokkaa", "Edit", new { id = Model.Apuvälineiden_käyttö_ja_ohjaus }) |
    @Html.ActionLink("Takaisin listaan", "Index")
</p>
